{% extends "base.html" %}
    <!-- Begin Content -->
    {% block content %}
    <div class="main-container with-padding" style="background-color: rgba(0,0,0,.2);">

        <div class="wrapper">

            <div class="inner-wrapper">

                <div class="contact-2">

                    <div class="content-inner clearfix">

                        <div class="row">
                            <div class="col full">
                                <h4>REGISTRAR MIEMBRO</h4>
                            </div>
                        </div>

                        <div class="divider clear" style="height:0px;"></div>

                        <div class="col two-third">
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input class="btn btn-default" type="submit" value="Enviar">
                                <input class="btn btn-default" type="reset" value="Cancelar">

                                <a class="btn-cust" href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a>



                                <div class="">
                                    <a class="btn-cust" href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a>
                                </div>
                
                            </form>
                        </div>


                        <a class="btn-cust" href="{% url 'social:begin' 'facebook' %}">Sign in with Facebook</a>

                        <div class="divider clear" style="height:200px;"></div>

                        <div class="row">

                            <div class="col two-third">
                                
                                <!--action="http://www.codesymbol.com/templates/uno/dark/includes/contact_form.php"-->
                                <form method="post" id="registerform">

                                    <input type="email" name="user_email" placeholder="EMAIL">
                                    <input type="text" name="first_name" placeholder="NOMRE">
                                    <input type="text" name="last_name" placeholder="APELLIDO">
                                    <input type="text" name="user_phone" placeholder="TELÉFONO">
                                    <input type="text" name="message_subject" placeholder="PUESTO">

                                    <div class="row" style="margin:10px 0px;">
                                        <input type="button" id="clickme" name="submit" style="background: rgba(132,49,166,.2); color:#fff" value="IMAGEN">
                                        <input type="text" id="filename" />
                                        <input type="file"  id="uploadme" />
                                    </div>


                                    <input type="button" name="submit" style="background: rgba(132,49,166,.2); color:#fff" value="REGISTRAR">
                                    <!--<a href="#" onclick="document.getElementById('registerform').submit()" class="button-small style-1">REGISTRAR</a>-->
                                    <p class="message-info">Message Info.</p>

                                </form>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


    </div>

    {% endblock content %}
    <!-- End Content -->