{% extends "base.html" %}
    <!-- Begin Content -->
    {% block content %}
    <div class="main-container scrollbar-space" style="background-color: rgba(132,49,166,0.0)">

        <div class="med-style" style="background-color: rgba(0,0,0,.2);">
            <div class="content-inner clearfix">

                <div class="row">
                    <div class="col full">
                
                        <h4>ACERCA DE NOSOTROS</h4>

                        <p>P.A.T.A. (Protección de animales en total abandono) nace en una Marcha Internacional del Perro Callejero, en la cual, rescatistas independientes deciden unir fuerzas para no sólo continuar con su labor de rescate, sino que ahora, como organización podrían atacar la raíz del problema del abandono animal: la sobrepoblación canina y felina. 
                        Una vez concretada la idea, se decidió que había que llegar a lugares de la población con necesidad latente de un servicio de este tipo, es decir, las zonas de bajos recursos y de alta población animal, cuyos dueños o guardianes no cuentan con los recursos para solventar una cirugía de esterilización, por lo que P.A.T.A. se planteó el objetivo de proporcionar a dichas comunidades, este servicio de forma gratuita y/o a bajo costo.</p>
                
                        <h4>¿CÓMO SOLVENTA P.A.T.A. LOS GASTOS DE DICHAS CAMPAÑAS?</h4>

                        <p>Debido a que P.A.T.A. A.C. es una Asociación Civil, no cuenta con recursos económicos proporcionados por parte de ninguna institución gubernamental. Por lo que sus miembros aportan recursos, desarrollan actividades (eventos) de recaudación de fondos, patrocinios de asociaciones hermanas en nuestro país vecino, así como también el apoyo de la comunidad tijuanense, ya sea en la asistencia a sus eventos así como en el voluntariado y patrocinio de esterilizaciones.</p>
                
                        <h4>OBJETIVO</h4>

                        <p>Llevar campañas de esterilización gratuitas (y a bajo costo) así como pláticas de concientización sobre el trato y cuidado animal, a colonias de bajos recursos de la ciudad de Tijuana</p>

                        <h4><br>¿QUIÉNES CONFORMAN P.A.T.A.?</h4>
                        
                    </div>
                </div>

                <div class="divider" style="height:20px;"></div>

                <!-- Begin Team -->
                <div class="row">
                    <div class="team clearfix">

                        <div class="member col one-third">

                            <div class="member-cont">

                                <img src="/media/pata_project/p1_4.png" alt="">

                                <div class="overlay">

                                    <h5>JASMIN<br>BOJÓRQUEZ<br>&nbsp;</h5>
                                    <p class="title">PRESIDENTA</p>

                                    <div class="icons">
                                        <a href="#" class="icon1-facebook"></a>
                                        <a href="#" class="icon1-twitter"></a>
                                        <a href="#" class="icon3-instagram"></a>
                                    </div>

                                </div>
                                
                            </div>
                        </div>

                        <div class="member col one-third">
                            <div class="member-cont">

                                <img src="/media/pata_project/p1_3.png" alt="">

                                <div class="overlay">

                                    <h5>PERLA<br>FLORES<br>&nbsp;</h5>


                                    <p class="title">VICEPRESIDENTA</p>

                                    <div class="icons">
                                        <a href="#" class="icon1-facebook"></a>
                                        <a href="#" class="icon1-twitter"></a>
                                        <a href="#" class="icon3-instagram"></a>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="member col one-third">
                            <div class="member-cont">

                                <img src="/media/pata_project/p1_2.png" alt="">

                                <div class="overlay">

                                    <h5>JAMINETTE<br>BOJÓRQUEZ<br>&nbsp;</h5>


                                    <p class="title">TESORERA</p>

                                    <div class="icons">
                                        <a href="#" class="icon1-facebook"></a>
                                        <a href="#" class="icon1-twitter"></a>
                                        <a href="#" class="icon3-instagram"></a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Team -->

                <div class="divider" style="height:20px;"></div>

                <div class="row">
                    <div class="col full">

                        <blockquote>“Tu indiferencia me mata.”</blockquote>
                        
                    </div>
                </div>

                <div class="divider" style="height:20px;"></div>

                <div class="row text-center">
                    <div class="col full">

                        <img src="/media/pata_project/p2_4.png" alt="">
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
        
    {% endblock content %}
    <!-- End Content -->
